@model Bingo.Models.NumberModel
@{
    ViewData["Title"] = "Home Page";
}


    <div class="row">
        <div class="col-sm-12"><h1 style="color:#e32d2d">P</h1></div>
        <div class="col-sm-12"><h1 style="color:#e32d2d">P</h1></div>
        @foreach (var number in Model.Numbers)
        {
            <div class="col-sm-6">

                <h1 style="font-size:200px; color:white; font-family:'Oswald',sans-serif" class="text-center">@number</h1>
            </div>
        }
    </div>
