@model Bingo.Models.NumberModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row align-items-center">
    @foreach (var number in Model.Numbers)
    {
        <div class="col-sm-3">

            @number
        </div>
    }
</div>
