@model Bingo.Models.NumberModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        @foreach (var number in Model.Numbers)
        {
            <h1>@number</h1>
        }
    </div>
</div>
