@model Bingo.Models.NumberModel

@{
    ViewData["Title"] = "Reset";
}

<h2>Reset</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NumberModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    <form asp-action="ResetNumbers">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
